/*================================ *\
Styles.css
\*================================ */
:root {
    --primary-color: #fd7e13;
    --secondary-color: rgb(248, 248, 255);
    --text-color: rgb(0, 0, 0);
    --btn-color: rgba(235, 177, 101, 0.938);
  
}

/*================================ *\
CSS reset
\*================================ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: 'Courier New', Courier, monospace, sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: var(--text-color);
  background: url('../images/background1.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

/*================================ *\
Header Nav-Bar
\*================================ */
.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.1rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.nav-bar::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(50px);
  z-index: -1;
}

.logo {
  margin-left: -30px;
}

.nav-section {
  margin-left: 30%;

}

.nav-section a {
  font-size: 1.1rem;
  font-weight: 900;
  text-decoration: none;
  margin-left: 2rem;
  color: rgb(255, 255, 255);

}

.nav-section a:hover {
  color: var(--primary-color);
}


button {
  padding: 9px 10px;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: 1rem;
  box-shadow: rgba(34, 34, 34, 0.555) 10px 10px 10px;
}

button:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  cursor: pointer;
}

.icons {
  position: absolute;
  right: 5%;
  font-size: 2rem;
  color: var(--secondary-color);
  cursor: pointer;
  display: none;
}

/*================================ *\
BreakPoints
\*================================ */